@page
@model KalaMarket.EndPoint.Pages.Admin.Products.AddProductModel
@{
}
<form method="post" enctype="multipart/form-data">
    <input asp-for="Image"  type="file"/>
    <button type="submit">send</button>
</form>