@page
@model SubCategoriesModel
@{
    ViewData["Title"] = "Category Child List";
    var parent = !string.IsNullOrWhiteSpace(Model.CategoryServiceDto.Name) ? Model.CategoryServiceDto.Name : "-";

}

<div class="content-wrapper">
    <div class="container-fluid">
        <!-- Zero configuration table -->
        <section id="configuration">

            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title-wrap bar-success">
                                <h4 class="card-title">لیست دسته بندی ها</h4>
                            </div>
                        </div>
                        <div class="card-body collapse show">
                            <div class="card-block card-dashboard">
                                <p class="card-text">
                                    زیر دسته بندی محصولات فروشگاه کالا مارکت
                                </p>


                                <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4">
                                    <div class="col-sm-12">
                                        <table class="table table-striped table-bordered zero-configuration dataTable" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info">
                                            <thead>
                                            <tr role="row">
                                                <th class="sorting_asc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-sort="ascending" aria-label="دسته بندی: activate to sort column descending" style="width: 222px;">دسته بندی</th>
                                                <th class="sorting_asc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-sort="ascending" aria-label="پدر: activate to sort column descending" style="width: 222px;">پدر</th>
                                            </tr>
                                            </thead>
                                            <tbody>

                                            @foreach (var item in Model.CategoryServiceDto.ChildCategories)
                                            {
                                                <tr role="row" class="odd">
                                                    <td class="sorting_1">@item.Name</td>
                                                    <td>

                                                        <text> @parent </text>
                                                    </td>
                                                </tr>
                                            }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>
    </div>
</div>