@page
@model AddProductModel
@{
}
<section class="basic-elements">
    <div class="row">
        <div class="col-sm-12">
            <h2 class="content-header">فرم ثبت محصول جدید</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="card-title-wrap bar-success">
                        <h4 class="card-title mb-0">اطلاعات محصول جدید را وارد نمایید</h4>
                    </div>
                </div>
                <div class="card-body">
                    <div class="px-3">
                        <form method="POST" id="AddProductForm" enctype=multipart/form-data>
                            <div class="form">
                                <div class="form-body">
                                    <div id="Show_Errors"></div>
                                    <div class="row">
                                        <amb-admin-divForm>
                                            <label asp-for="Name">نام محصول </label>
                                            <input asp-for="Name" class="form-control">
                                            <span class="text-danger" asp-validation-for="Name"></span>
                                        </amb-admin-divForm>
                                        <amb-admin-divForm>
                                            <label asp-for="BrandId"> برند </label>
                                            <select class="form-control" asp-for="BrandId" asp-items="Model.Brand">
                                                <option selected value="0">انتخاب</option>
                                            </select>
                                            <span class="text-danger" asp-validation-for="BrandId"></span>
                                        </amb-admin-divForm>
                                        <amb-admin-divForm>
                                            <label asp-for="Price"> قیمت</label>
                                            <input asp-for="Price" class="form-control">
                                            <span class="text-danger" asp-validation-for="Price"></span>
                                        </amb-admin-divForm>
                                        <amb-admin-divForm>
                                            <label asp-for="Inventory"> تعداد موجودی</label>
                                            <input asp-for="Inventory" class="form-control">
                                            <span class="text-danger" asp-validation-for="Inventory"></span>
                                        </amb-admin-divForm>
                                    
                                        <amb-admin-divForm>
                                            <label asp-for="Images">تصاویر </label>
                                            <input asp-for="Images" multiple class="form-control">
                                            <span class="text-danger" asp-validation-for="Images"></span>
                                        </amb-admin-divForm>
                                        <amb-admin-divForm>
                                            <label asp-for="CategoryId">دسته بندی </label>
                                            <select class="form-control" asp-for="CategoryId" asp-items="@Model.Categories"></select>
                                            <span class="text-danger" asp-validation-for="CategoryId"></span>
                                        </amb-admin-divForm>

                                        <div class="col-xl-12 col-lg-12 col-md-12 mb-1">
                                            <fieldset class="form-group">
                                                <label asp-for="Description"> توضیحات</label>
                                                <textarea asp-for="Description" class="form-control " rows="5"></textarea>
                                                <span class="text-danger" asp-validation-for="Description"></span>
                                            </fieldset>
                                        </div>
                                        <hr/>
                                        <hr/>
                                        <div class="col-xl-4 col-lg-6 col-md-12 mb-1">
                                            <fieldset class="form-group">
                                                <input id="Feature_Key" class="form-control" placeholder="نام ویژگی"/> 
                                            </fieldset>
                                        </div>
                                       
                                        <div class="col-xl-4 col-lg-6 col-md-12 mb-1">
                                            <fieldset class="form-group">
                                          
                                                <input id="Feature_Value" class="form-control" placeholder="مقدار ویژگی"/>
                                            </fieldset>
                                        </div>
                                        <div class="col-xl-4 col-lg-10 col-md-12 mb-1">
                                            <fieldset class="form-group">
                                                <a class="btn btn-success" id="btnAddFeatures">اضافه کردن ویژگی</a>
                                            </fieldset>
                                        </div>
                                  
                                        <amb-admin-divForm>
                                            <label asp-for="Displayed" class="h5 mx-3 ">نمایش داده شود؟ </label>
                                            <input asp-for="Displayed" class="form-check-input" type="checkbox">
                                            <span class="text-danger" asp-validation-for="Displayed"></span>
                                        </amb-admin-divForm>
                                        <table id="tbl_Features" class="col-md-12 table table-bordered table-hover table-striped table-condensed table-responsive">
                                            <thead>
                                            <tr>
                                                <th>
                                                    نام
                                                </th>
                                                <th>
                                                    مقدار
                                                </th>
                                                <th>

                                                </th>
                                            </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                        <div class="position-absolute" id="List_Feature">
                                        </div>
                                        <br/>
                                        <div class="col-xl-12 col-lg-12 col-md-12 mb-1 text-center">
                                            <fieldset class="form-group ">
                                                <button type="submit" id="btnAddProduct" class="col-xl-4 col-lg-4 col-md-4 mb-1 text-center btn btn-info"> افزودن محصول </button>
                                            </fieldset>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>




@section Script{
    <partial name="Shared/_ValidationScriptsPartial" />
    <script src="~/AdminTemplate/app-assets/SiteJs/Product/AddProduct.js"></script>
}
