@page
@model NewSliderModel

@{
    ViewData["Title"] = "اضافه کردن اسلایدر جدید";
}


<section class="basic-elements">

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="card-title-wrap bar-success">
                        <h4 class="card-title mb-0">افزودن اسلایدر جدید</h4>
                    </div>
                </div>
                <div class="card-body">
                    <div class="px-3">
                        <div class="form">
                            <div class="form-body">
                                <form method="post" class="row" enctype="multipart/form-data">
                                    <div class="col-xl-6 col-lg-6 col-md-12 mb-1">
                                        <fieldset class="form-group">
                                            <label asp-for="Link">آدرس لینک</label>
                                            <input asp-for="Link" class="form-control">
                                            <span class="text-danger" asp-validation-for="Link"></span>
                                        </fieldset>
                                    </div>

                                    <div class="col-xl-6 col-lg-6 col-md-12 mb-1">
                                        <fieldset class="form-group">
                                            <label asp-for="Image">تصویر</label>
                                            <input asp-for="Image" class="form-control"/>
                                            <span class="text-danger" asp-validation-for="Image"></span>
                                        </fieldset>
                                    </div>
                                    <br/>
                                    <div class="col-xl-6 col-lg-6 col-md-12 mb-1">
                                        <fieldset class="form-group">
                                            <label asp-for="SliderTypeProperty">نوع اسلایدر</label>
                                            <select asp-for="SliderTypeProperty" asp-items="@(Html.GetEnumSelectList<Domain.HomePage.HomePages.SliderType>())" class="form-control">

                                            </select>
                                            <span class="text-danger" asp-validation-for="SliderTypeProperty"></span>
                                        </fieldset>
                                    </div>
                                    <div class="col-xl-12 col-lg-12 col-md-12 mb-1">
                                        <fieldset class="form-group">
                                            <br/>
                                            <button class="btn btn-success col-md-12">آپلود تصویر</button>
                                        </fieldset>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>