@page
@model LoginModel
@{
}

@{
    ViewData["Title"] = "Signin";
    Layout = null;
}

<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ثبت نام</title>
    <partial name="_Partial/_LoginStylePartial"/>
</head>
<body>
<partial name="_Partials/_DisplayToastMessages"/>
<!-- login----------------------------------->
<div class="container">
    <div class="row">
        <div class="col-lg">
            <section class="page-account-box">
                <div class="col-lg-6 col-md-6 col-xs-12 mx-auto">
                    <div class="ds-userlogin">
                        <a href="#" class="account-box-logo">digismart</a>
                        <div class="account-box">
                            <div class="account-box-headline">
                                <a href="#" class="login-ds active">
                                    <span class="title">ورود</span>
                                    <span class="sub-title">به فروشگاه شما</span>
                                </a>
                                <a asp-area="Account" asp-page="/Register" class="register-ds">
                                    <span class="title">در کالامارکت</span>
                                    <span class="sub-title">در کالامارکت</span>
                                </a>
                            </div>
                            <div class="Login-to-account mt-4">
                                <div class="account-box-content">
                                    <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                                    <h4>ورود به حساب کاربری</h4>
                                    <form class="form-account text-right" method="Post">
                                        <div class="form-account-title">
                                            <label asp-for="LoginViewModel.Email">ایمیل</label>
                                            <input asp-for="LoginViewModel.Email" class="number-email-input">
                                            <span asp-validation-for="LoginViewModel.Email" class="text-danger"></span>
                                        </div>
                                        <div class="form-account-title">
                                            <label asp-for="LoginViewModel.Password">رمز عبور</label>
                                            <a href="#" class="account-link-password">رمز خود را فراموش کرده ام</a>
                                            <input asp-for="LoginViewModel.Password" class="password-input">
                                            <span asp-validation-for="LoginViewModel.Password" class="text-danger"></span>
                                        </div>
                                        <div class="form-auth-row">
                                            <label asp-for="LoginViewModel.IsRemeberMe" class=" ui-checkbox mt-1">
                                                <input asp-for="LoginViewModel.IsRemeberMe">
                                                <span class="ui-checkbox-check"></span>
                                            </label>
                                            <label asp-for="LoginViewModel.IsRemeberMe" class="remember-me mr-0">مرا به خاطر بسپار</label>
                                        </div>
                                        <div class="form-row-account">
                                            <button type="submit" class="btn btn-primary btn-login">ورود در فروشگاه کالامارکت</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<!-- login----------------------------------->
<!-- scroll_Progress------------------------->
<div class="progress-wrap">
    <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
        <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98"/>
    </svg>
</div>
<!-- scroll_Progress------------------------->
<partial name="_Partial/_LoginScriptPartial"/>
<partial name="Shared/_ValidationScriptsPartial"/>

</body>