
.alert {
    padding: 12px 16px;
}

.Amb-alert-success {
    background-color: rgba(227, 253, 235, 1);
    border-color: rgba(38, 179, 3, 1);
    color: rgba(60, 118, 61, 1);
    font-weight: bolder;
    border-right: darkgreen solid 4px;
}

.Amb-alert-info {
    background-color: rgba(217, 237, 247, 1);
    color: rgba(49, 112, 143, 1);
    border-color: rgba(126, 182, 193, 1);
    font-weight: bolder;
    border-right: darkblue solid 4px;
}


.Amb-alert-warning {
    background-color: rgba(252, 248, 227, 1);
    border-color: rgba(177, 161, 129, 1);
    color: rgba(138, 109, 59, 1);
    font-weight: bolder;
    border-right: rgb(187, 163, 33) solid 4px;
}

.Amb-alert-danger {
    background-color: rgba(248, 215, 218, 1);
    border-color: rgba(220, 53, 69, 1);
    color: rgba(114, 28, 36,1);
    font-weight: bolder;
    border-right: darkred solid 4px;
}
.actvie {
    background-color: darkcyan;
    color: white
}