@page
@using KalaMarket.Shared
@model KalaMarket.EndPoint.Pages.Admin.Brands.IndexModel
@{
}
@{
    ViewData["Title"] = "Category List";
}

<div class="content-wrapper">
    <div class="container-fluid">
        <!-- Zero configuration table -->
        <section id="configuration">

            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title-wrap bar-success">
                                <h4 class="card-title">لیست برند ها</h4>
                            </div>
                        </div>
                        <div class="card-body collapse show">
                            <div class="card-block card-dashboard">
                                <p class="card-text">
                                    برند های محصولات فروشگاه کالا مارکت
                                </p>
                                <a asp-page="addCategory" class="btn btn-success">افزودن برند جدید</a>

                                <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4">
                                    <div class="col-sm-12">
                                        <table class="table table-striped table-bordered zero-configuration dataTable" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info">
                                            <thead>
                                                <tr role="row">
                                                    <th class="sorting_asc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-sort="ascending" aria-label="دسته بندی: activate to sort column descending" style="width: 222px;">دسته بندی</th>
                                                    <th class="sorting_asc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-sort="ascending" aria-label=": activate to sort column descending" style="width: 222px;"></th>

                                                </tr>
                                            </thead>
                                            <tbody>

                                                @foreach (var item in Model.Brands)
                                                {
                                                    <tr role="row" class="odd">
                                                        <td class="sorting_1">@item.Name</td>

                                                        <td>
                                                            <a class='btn @((item.IsActive) ? "btn-danger" :"btn-success")' asp-page="Index" asp-page-handler="changeactivation" asp-route-id="@(item.Id)">  @((item.IsActive) ? "غیرفعال سازی" : "فعال سازی")</a>
                                                        </td>
                                                    </tr>
                                                }

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>
    </div>
</div>
