@page
@model AddBrandModel
@{
    ViewData["Title"] = "AddNewCategory";
}
<section class="basic-elements">

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="card-title-wrap bar-success">
                        <h4 class="card-title mb-0">اضافه کردن دسته بندی جدید برای محصولات</h4>
                    </div>
                </div>
                <div class="card-body">
                    <div class="px-3">
                        <div class="form">
                            <div class="form-body">
                                <div class="row">
                                    <form id="myAddCategoryForm" method="post">
                                        <div class="col-xl-12 col-lg-12 col-md-12 mb-1">
                                            <input type="hidden" asp-for="ParentId" value="@Model.ParentId"/>
                                            <span class="text-danger" asp-validation-for="ParentId"></span>
                                            <label for="basicInput">نام دسته بندی</label>
                                            <input type="text" class="form-control" asp-for="Name">
                                            <span class="text-danger" asp-validation-for="Name"></span>
                                        </div>
                                        <div class="col-xl-12 col-lg-12 col-md-12 mb-1">
                                            <br/>
                                            <button id="submitBtnCategory" class="btn btn-success col-md-12">اضافه کردن به لیست</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


@section Script
{
    <script src="AdminTemplate/app-assets/SiteJs/Product/Categories/AddCategory.js"></script>
    <partial name="Shared/_ValidationScriptsPartial"/>
}